.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}

.a1 {
    display: flex;
    align-items: center;
    padding: 10px;
}

.span1 {
    display: flex;
    align-items: center;
    font: bold;
    text-decoration: none;
    margin-left: 15px;
}

.container1 {
    display: flex;
    border-radius: 10px;
    border: gray;
    padding: 6px;
    text-decoration:solid;
    box-shadow: -5px 5px 10px;
}

.border1, .border2 {
    border-radius: 20px;
    border: solid lightgray;
}

.padding1, .padding2, .padding3 {
    padding: 3px;
}

/* this needs work on */
.button1 {
    color: #F5385D;
    border-radius: 50%;
}