.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a1 {
    display: flex;
    align-items: center;
    padding: 10px;
}

.span1 {
    display: flex;
    align-items: center;
    font: bold;
    text-decoration: none;
    margin-left: 15px;
}

.container1 {
    display: flex;
    border-radius: 10px;
    border: gray;
    padding: 6px;
    text-decoration:solid;
    box-shadow: -5px 5px 10px;
}

.border1, .border2 {
    border-radius: 20px;
    border: solid lightgray;
}

.padding1, .padding2, .padding3 {
    padding: 3px;
}

/* this needs work on */
.button1 {
    color: #F5385D;
    border-radius: 50%;
}

.layout {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.login-h1 {
    text-align: center;
    margin-bottom: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    margin: auto;
}

/* .login-container {
  display: flex;
  flex-direction: column;
} */

.submit {
    border-radius: 50%;
  background-color: #f5385d;
}

button {
    background-color: #F5385D;
}